<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="canonical" href="https://bulma.io/documentation/components/navbar/">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
        function openTab(evt) {
            var i, tablinks;
            tablinks = document.getElementsByClassName("tab");
            for (i = 0; i < 6; i++) {
                tablinks[i].className = tablinks[i].className.replace(" is-active", "");
            }
            evt.currentTarget.className += " is-active";
        }
    </script>
    <!--    I used:https://codepen.io/t7team/pen/ZowdRN-->

</head>

<body>
<style>
    .card {
        width: 50%;
    }

    .tabs {
        width: 35%;
    }

    .sorting {
        display: flex;
        justify-content: center;
    }

    form {
        width: 45%;
    }


    @media (max-width: 600px) {
        .card {
            width: 80%;
        }

        .tabs {
            width: 70%;
        }
    }
</style>
<div>
    <nav th:insert="navbar :: nav"></nav>
    <div class="search  is-flex is-justify-content-center mt-6">
        <form method="POST" th:action="@{/post/search}" th:object="${search}"
              enctype="multipart/form-data">
            <div class="field has-addons is-flex is-justify-content-left">
                <div class="control">

                    <input class="input " type="text" placeholder="Find a post" th:field="*{value}"/>
                    <p class="help is-danger is-size-6"
                       th:if="${#fields.hasErrors('value')}"
                       th:errors="*{value}">Content Error >
                    </p>
                </div>
                <div class="control">
                    <input class="button is-info" type="submit" name="action" value="Search"/>
                </div>
            </div>
        </form>
    </div>

    <div class="sorting mt-5" th:insert="sorting :: sorting1"></div>
    <div class="sorting mt-2" th:insert="sorting :: sorting2"></div>

    <div class="posts mb-6"
         style="display:flex;justify-content:center; align-items: center; flex-direction: column">
        <div class="card has-background-white-bis mt-6" th:each="post : ${posts}">
            <div class="is-flex is-justify-content-right">
                <a th:href="@{/post/delete/{idPost}(idPost=${post.getId()})}">
                    <button class="delete m-3 is-medium has-background-danger "></button>
                </a>

            </div>
            <div class="card-content">
                <div class="media-content">
                    <a class="is-size-4" th:href="@{/post/{idPost}(idPost=${post.getId()})}"
                       th:text="${post.getTags()}"></a>
                    <br>
                    <br>
                </div>
                <div class="content p-5">
                    <p th:text="${post.getPost_content()}"></p>
                </div>
                <div class="is-flex is-justify-content-right">
                    <div class="mr-3 mb-3">
                        <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                        <span th:text="${post.getAuthors().size()}"></span>
                    </div>
                    <div class="mr-3 mb-3">
                        <span class="icon is-small"><i class="fas fa-comments" aria-hidden="true"></i></span>
                        <span th:text="${post.getComments().size()}"></span>
                    </div>
                </div>

                <footer class="card-footer">
                    <a th:href="@{/post/edit/{idPost}(idPost=${post.getId()})}" class="card-footer-item">Edit</a>
                    <a th:href="@{/comment/post/{idPost}(idPost=${post.getId()})}" class="card-footer-item">Comment</a>
                </footer>
            </div>
        </div>
    </div>


</div>
</body>
</html>
