<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="canonical" href="https://bulma.io/documentation/components/navbar/">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script th:src="@{/hamburgerNavbar.js}"></script>
    <script th:src="@{/openTab.js}"></script>
    <link rel="stylesheet" th:href="@{/mainPage.css}">
</head>
<body>
<div>
    <nav th:insert="navbar :: nav"></nav>
    <nav class="level mt-5">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Posts</p>
                <p class="title" th:text="${postsSize}"></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Authors</p>
                <p class="title" th:text="${authorsSize}"></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Comments</p>
                <p class="title" th:text="${commentsSize}"></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Attachments</p>
                <p class="title" th:text="${attachmentsSize}"></p>
            </div>
        </div>
    </nav>
    <div class="search is-flex is-justify-content-center mt-6 mr-5">
        <form method="POST" th:action="@{/post/search}" th:object="${search}"
              enctype="multipart/form-data">
            <div class="field has-addons is-flex is-justify-content-center">
                <div class="control" style="width:60%">

                    <input class="input is-dark" type="text" placeholder="Find a post" th:field="*{value}"/>
                    <p class="help is-danger is-size-6"
                       th:if="${#fields.hasErrors('value')}"
                       th:errors="*{value}">Content Error >
                    </p>
                </div>
                <div class="control">
                    <input class="button is-info" type="submit" name="action" value="Search" style="width:150%"/>
                </div>
            </div>
        </form>
    </div>
    <div class="sorting mt-5" th:insert="sorting :: sorting1"></div>
    <div class="sorting mt-2" th:insert="sorting :: sorting2"></div>
    <p class="title mt-6 mb-3 is-flex is-justify-content-center has-text-success"
       th:if="${info}"
       th:text="${info}"
    >
    <p class="title mt-6 mb-3 is-flex is-justify-content-center has-text-danger"
       th:if="${infoDelete}"
       th:text="${infoDelete}"
    >
    </p>
    <div class="posts mb-6 is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
        <div class="card has-background-white-bis mt-6" th:each="post : ${posts}">
            <div class="is-flex is-justify-content-right">
                <a th:href="@{/post/delete/{idPost}(idPost=${post.getId()})}">
                    <button class="delete m-3 is-medium has-background-danger "></button>
                </a>

            </div>
            <div class="card-content">
                <div class="media-content">
                    <a class="is-size-4" th:href="@{/post/{idPost}(idPost=${post.getId()})}"
                       th:text="${post.getTags()}"></a>
                    <br>
                    <br>
                </div>
                <div class="content p-5">
                    <p th:text="${post.getPost_content()}"></p>
                </div>
                <div class="is-flex is-justify-content-right">
                    <div class="mr-3 mb-3">
                        <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                        <span th:text="${post.getAuthors().size()}"></span>
                    </div>
                    <div class="mr-3 mb-3">
                        <span class="icon is-small"><i class="fas fa-comments" aria-hidden="true"></i></span>
                        <span th:text="${post.getComments().size()}"></span>
                    </div>
                </div>

                <footer class="card-footer">
                    <a th:href="@{/post/edit/{idPost}(idPost=${post.getId()})}" class="card-footer-item">Edit</a>
                    <a th:href="@{/comment/post/{idPost}(idPost=${post.getId()})}" class="card-footer-item">Comment</a>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>
