<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/hamburgerNavbar.js}"></script>
</head>
<body>
<nav class="navbar is-dark" th:fragment="navbar" style="width: 100%;">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <p class="title has-text-white ml-5">BLOG</p>
        </a>
        <div class="navbar-burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/}">
                Posts
            </a>

            <a class="navbar-item" th:href="@{/authors}">
                Authors
            </a>
            <a class="navbar-item" th:href="@{/exports}">
                Exports
            </a>
            <a class="navbar-item" th:href="@{/imports}">
                Imports
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-success
                         mr-3" th:href="@{/post/create}">
                        <strong>Add Post</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>