<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link href="https://harvesthq.github.io/chosen/chosen.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="canonical" href="https://bulma.io/documentation/components/navbar/">
    <script src="https://harvesthq.github.io/chosen/docsupport/jquery-3.2.1.min.js"></script>
    <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>$(function () {
        $('select').chosen();
    })</script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>


</head>
<body>

<style>
    form {
        width: 40%;

    }

    @media (max-width: 600px) {
        form {
            width: 80%;
        }
    }
</style>

<div>
    <nav class="navbar  is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p class="title has-text-white ml-5">BLOG</p>
            </a>
            <div class="navbar-burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Posts
                </a>

                <a class="navbar-item">
                    Authors
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-success
                         mr-3" th:href="@{/create/post}">
                            <strong>Add Post</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="is-size-1 mt-6" style="display:flex;justify-content:center">
        <h1 class="title has-text-link ">Creating a post</h1>
    </div>
    <div class="formForPost mt-6 is-size-1" style="display:flex;justify-content:center">
        <form method="POST" th:action="@{/create/post}" th:object="${postForm}" enctype="multipart/form-data"
        >
            <div th:if="${#fields.hasErrors()}">
                  <span class="help is-danger is-size-5">
                     Please correct the problems below and resubmit.
                  </span>
            </div>
            <div class="field mt-2">
                <label class="label">Tags</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{tags}" placeholder="Tag1  tag2 ..."/>
                    <p class="help is-danger is-size-6"
                       th:if="${#fields.hasErrors('tags')}"
                       th:errors="*{tags}">Tags Error
                        >
                    </p>
                </div>
            </div>
            <div class="field mt-5">
                <label class="label has-text-link">Content</label>
                <div class="control">
                    <textarea class="textarea" th:field="*{post_content}" placeholder="Text input ..."/>
                    <p class="help is-danger is-size-6"
                       th:if="${#fields.hasErrors('post_content')}"
                       th:errors="*{post_content}">Content Error >

                    </p>
                </div>
            </div>
            <div class="field mt-3">
                <label class="label">Authors</label>
                <div class="control">
                    <div class="select is-multiple">
                        <select class="is-size-5 mt-6 mb-6" id="authorsPost" th:field="*{authorsPost}"
                                multiple="multiple" placeholder="text" style="height:40px">
                            <option value=""></option>
                            <option value=""></option>
                            <option th:each="author : ${authors}"
                                    th:value="${author.getId()}"
                                    th:text="${author.getFirst_name()}"
                            >
                            </option>
                        </select>
                    </div>
                    <p class="help is-danger is-size-6"
                       th:if="${#fields.hasErrors('authorsPost')}"
                       th:errors="*{authorsPost}">Author type Error

                    </p>
                </div>
            </div>
            <label class="label mt-5">Photo</label>


            <div id="imageInput" class="file has-name is-size-7-mobile is-medium  is-info">
                <label class="file-label">
                    <span class="file-name mr-5" style=" border-width: 0">
                      No file uploaded
                    </span>
                    <input class="file-input" type="file" name="resume" th:field="*{imageFile}">
                    <span class="file-cta" style="border-radius: 4px 4px 4px 4px">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label pr-1">
                        Choose an image file
                      </span>
                    </span>

                </label>
                <p class="help is-danger is-small"
                   th:if="${#fields.hasErrors('imageFile')}"
                   th:errors="*{imageFile}">Image file Error

                </p>
            </div>
            <label class="label mt-2">Attachment</label>

            <div id="attachmentInput" class="file is-size-7-mobile has-name  is-medium mt-2 is-info">
                <label class="file-label">
                    <span class="file-name mr-5" style=" border-width: 0">
                      No file uploaded
                    </span>

                    <input class="file-input " type="file" name="resume" th:field="*{attachment} ">
                    <span class="file-cta " style="border-radius: 4px 4px 4px 4px">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                        <span class="file-label">
                        Attach an attachment
                        </span>
                    </span>


                </label>

                <p class="help is-danger is-size-6"
                   th:if="${#fields.hasErrors('attachment')}"
                   th:errors="*{attachment}">Attachment Error

                </p>
            </div>


            <div class="field" style="display:flex;justify-content:center;">
                <input class="button is-success mt-6 mb-6" type="submit" name="action" value="Submit"
                       style="display:flex;justify-content:center; width: 40%"/>
            </div>
        </form>
    </div>
</div>
<script>
    const imageInput = document.querySelector('#imageInput input[type=file]');
    imageInput.onchange = () => {
        if (imageInput.files.length > 0) {
            const fileName = document.querySelector('#imageInput .file-name');
            fileName.textContent = imageInput.files[0].name;
        }
    }

    const attachmentInput = document.querySelector('#attachmentInput input[type=file]');
    attachmentInput.onchange = () => {
        if (attachmentInput.files.length > 0) {
            const fileName = document.querySelector('#attachmentInput .file-name');
            fileName.textContent = attachmentInput.files[0].name;
        }
    }
</script>
</body>
</html>